html{
  background-color: #191919;
}
@font-face{
	  font-family: 'Multicolore';
	  src: url(/fonts/multicolore/Multicolore.otf);
  }
@font-face{
  font-family: 'Biko';
  src: url('/fonts/biko/Biko_Regular.otf');
}
.topline{
  text-align: center;
  font-family: 'Multicolore';
  font-size: 45px;
  color: white;
  /* padding-bottom: 5%; */
  padding-top: 5%;
  width: 90%;
  margin: auto;
}
.subheader{
  font-family: 'Biko';
  text-decoration: none;
  cursor: pointer;
  color: black;
  width: 85%;
  margin: auto;
}
.subflex{
  font-family: 'Biko';
  border-radius: 20px;
  background-color: #21a7df;
  /* color: #39B54A; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 85%;
  border-style: outset;
  border-color: grey;
}
.newsletter{
  font-family: 'Biko';
  padding-left: 6%;
  width: 60px;
  height: 60px;
  margin-top: -8px;
}
.captionline{
  font-family: 'Biko';
  padding-left: 3%;
  font-size: 18px;
}
.buttons{
  font-family: 'Biko';
  cursor: pointer;
  width: 125px;
  height: 125px;
}
.below{
  font-family: 'Biko';
  color: white;
  font-size: 20px;
  text-align: center;
}
.controllerlineone{
  font-family: 'Biko';
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding-top: 10%;
  padding-left: 9%;
  padding-right: 9%;
}
.controllerlinetwo{
  font-family: 'Biko';
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-right: 9%;
  padding-left: 9%;


}
.col{
  font-family: 'Biko';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width : 330px)
{
  .topline{
    text-align: center;
    font-family: 'Multicolore';
    font-size: 38px;
    color: white;
    /* padding-bottom: 5%; */
    padding-top: 5%;
    width: 90%;
    margin: auto;
  }
  .subheader{
    font-family: 'Biko';
    text-decoration: none;
    cursor: pointer;
    color: black;
    width: 85%;
    margin: auto;
  }
  .subflex{
    font-family: 'Biko';
    border-radius: 20px;
    background-color: #21a7df;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 85%;
  }
  .newsletter{
    font-family: 'Biko';
    padding-left: 6%;
    width: 60px;
    height: 60px;
    margin-top: -8px;
  }
  .captionline{
    font-family: 'Biko';
    padding-left: 3%;
    font-size: 15px;
  }
  .buttons{
    font-family: 'Biko';
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  .below{
    font-family: 'Biko';
    color: white;
    font-size: 18px;
    text-align: center;

  }
  .controllerlineone{
    font-family: 'Biko';
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    height: 20%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .controllerlinetwo{
    font-family: 'Biko';
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    height: 20%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .col{
    font-family: 'Biko';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
