.banner{
    background: #93cce8;
    text-align: center;
    font-family: "Multicolore",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
}

.banner:hover{
    opacity: 0.9;
}
.ecolympics-logo{
    
    height: 100%;
    width: 10%;
}
.title{
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.sub-title{
    color: black;
    font-weight: 700;
    font-size: 16px;
}
.more-info-links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1.25% 0
}
.more-info-links a{
    width: 31.5%;
    font-weight: 700;
    color: white;
    font-size: 18px;
    padding: 1% 2%;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
}
.more-info-links a:nth-child(1) {
    background-color: #2774ad;
}
.more-info-links a:nth-child(2) {
    background-color: #e28b41;
}
.more-info-links a:nth-child(3) {
    background-color: #d33a3a;
}
.link {
    display: flex;
    align-items: center;
    gap: 5%;
}
.link img {
    width: 25%;
    min-width: 95px;
}
.rank-data iframe{
    border-radius: 6px;
    min-width:520;
    min-height:420;
}
.rank-data h1{
    color: black;
}


/* media query */
/* responsive style */
/* For Desktop View */
@media screen and (min-width: 1024px) {
   .rank-data iframe {
        width: 97%;
    }
    .rank-data iframe.first-iframe{
        min-height: 470px;
    }
    .rank-data iframe.second-iframe{
        min-height: 420px;
    }
}

/* For Tablet View */
@media screen and (min-width: 992px) {
    .navbar-nav li.nav-item {
        width: auto;
        padding-left: 0;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .rank-data iframe {
        width: 98%;
    }
    .rank-data iframe.first-iframe{
        min-height: 470px;
    }
    .rank-data iframe.second-iframe{
        min-height: 420px;
    }
    .link img {
        width: 25%;
        min-width: 70px;
    }
    .more-info-links a {
        font-size: 15px;
        padding: 1% 1.5%;
    }
    .rank-data .col-md-6.pr-0:nth-child(1){
        padding-left: 7px;
    }
    .rank-data .col-md-6.pl-0:nth-child(2){
        padding-right: 7px;
    }
    .slide-show-iframe{
        height:500px
    }
    li.nav-item {
        width: 100%;
        padding-left: 16px;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}
