@font-face{
	  font-family: 'Multicolore';
	  src: url(/fonts/multicolore/Multicolore.otf);
  }

@font-face{
  font-family: 'Biko';
  src: url('/fonts/biko/Biko_Regular.otf');
}
html{
  background-color: #191919;
}
.constant{
  position: fixed;
  top: 0;
  background-color: #191919;
}
.header{
  font-family: 'Multicolore';
  margin: auto;
  color: white;
  font-size: 32px;
  width: 85%;
  padding-top: 5%;
  padding-bottom: 1%;
}

.subhead{
  font-family: 'Biko';
  margin: auto;
  color: white;
  width: 85%;
  font-size: 15px;
}

.button{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.buttonflex{
  font-family: 'Multicolore';
  font-weight: bold;
  border-radius: 12px;
  background-color: white;
  margin: auto;
  margin-bottom: 15px;
  width: 85%;

}
.buttontext{
  padding-top: 5px;
  padding-left: 5px;
  font-size: 40px;
}
.twolinebuttontext{
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 36px;
}
.remotelist{
  margin-top: 100px;
}
