<html>
  <head>
    <meta charset= "UTF-8">
    <!-- change "content" as appropriate -->
    <meta name= "description" content="Controller template webpage">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <!-- change title as appropriate -->
    <title>Eastwood Elementary Controller</title>
    <link rel="stylesheet" href="../styles/controller.css">
    <!-- <link rel="stylesheet" type="text/css" href="/nav/styles/style.css"> -->

</head>


  <body>

    <div id="timeout-overlay"><h1>Your time using this remote is up. Try again starting at a later time.</h1></div>
    <div id="queue-overlay"><h1>You are waiting <span id="in-the-queue">in the queue</span>. You will gain access at <span id="a-later-time">a later time</span> at the latest.</h1></div>
    <div id="cookie-overlay"><h1>Cookies are required to use the remote controller.</h1></div>
    <div id="disconnected-overlay"><h1>Display is disconnected. Please restart the display in order to control it.</h1></div>
    <div id="init-overlay"><h1>Initializing connection...</h1></div>
    <div id="error-overlay"><h1>Lost connection to display... reconnecting in <span id="remaining">10</span>.</h1><p>If this problem persists, please contact <a href="mailto:mail@communityhub.cloud?subject=Controller 38 loaded at 1626203244 connection error with oberlin server">mail@communityhub.cloud</a>.</p></div>
    <!-- first row container -->


      <!-- first column item in first-row container -->
      <!-- <div class="flex-child">
        <center>IGA Screen Controller</center>
      </div> -->

      <!-- second column item in first-row container -->
      <div class="flex-container">
      <div class="flex-child">

          <img src="../resources/ops_elementary_controllerbanner.svg">

      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
        <div class="button" data-twig="btn1">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1650' data-active_src='' data-src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/610175ea5703d.svg' src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/610175ea5703d.svg' /
          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn2" >
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1646' data-active_src='' data-src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/61017584209d0.svg' src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/61017584209d0.svg' />
          </div>
        </center>
      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn3">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1649' data-active_src='' data-src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/610175d49e08b.svg' src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/610175d49e08b.svg' />
          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn4">
              <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1648' data-active_src='' data-src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/610175b43b43a.svg' src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/610175b43b43a.svg' />
          </div>
        </center>
      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn5">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1647' data-active_src='' data-src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/61017598d231f.svg' src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/61017598d231f.svg' />
          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn6">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1645' data-active_src='' data-src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/6101756719ffc.svg' src='https://oberlin.communityhub.cloud/api/legacy/digital-signage/uploads/oberlin/6101756719ffc.svg' />

          </div>
        </center>
      </div>

    </div>







    <!-- hub home button end -->
    <a href="https://environmentaldashboard.org/nav/" class="button2">HUB HOME</a>

    <script src="../scripts/controllers.js"></script>
  </body>





</html>
