<html>
  <head>
    <meta charset= "UTF-8">
    <!-- change "content" as appropriate -->
    <meta name= "description" content="Controller template webpage">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <!-- change title as appropriate -->
    <title>Hotel Lobby Controller</title>
   <link rel="stylesheet" href="../styles/controller.css">
    <!-- <link rel="stylesheet" type="text/css" href="/nav/styles/style.css"> -->

</head>


  <body>

    <div id="timeout-overlay"><h1>Your time using this remote is up. Try again starting at a later time.</h1></div>
    <div id="queue-overlay"><h1>You are waiting <span id="in-the-queue">in the queue</span>. You will gain access at <span id="a-later-time">a later time</span> at the latest.</h1></div>
    <div id="cookie-overlay"><h1>Cookies are required to use the remote controller.</h1></div>
    <div id="disconnected-overlay"><h1>Display is disconnected. Please restart the display in order to control it.</h1></div>
    <div id="init-overlay"><h1>Initializing connection...</h1></div>
    <div id="error-overlay"><h1>Lost connection to display... reconnecting in <span id="remaining">10</span>.</h1><p>If this problem persists, please contact <a href="mailto:mail@communityhub.cloud?subject=Controller 38 loaded at 1626203244 connection error with oberlin server">mail@communityhub.cloud</a>.</p></div>
    <!-- first row container -->


      <!-- first column item in first-row container -->
      <!-- <div class="flex-child">
        <center>IGA Screen Controller</center>
      </div> -->

      <!-- second column item in first-row container -->
      <div class="flex-container">
      <div class="flex-child">

          <img src="../resources/hotellobby_controllerbanner.svg">

      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
        <div class="button" data-twig="btn1">
          <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1759' data-active_src='' data-src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d51b19f0.svg' src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d51b19f0.svg' />

          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn2" >
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1757' data-active_src='' data-src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d221e112.svg' src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d221e112.svg' />
          </div>
        </center>
      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn3">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1760' data-active_src='' data-src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d67339df.svg' src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d67339df.svg' />


          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn4">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1761' data-active_src='' data-src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d83bc4d0.svg' src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d83bc4d0.svg' />
          </div>
        </center>
      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn5">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1758' data-active_src='' data-src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d3a36b9b.svg' src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/61140d3a36b9b.svg' />

          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn6">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1807' data-active_src='' data-src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/informationhotellobby.svg' src='https://storage.googleapis.com/ch-digital-signage/oberlin/digital-signage/informationhotellobby.svg' />
          </div>
        </center>
      </div>

    </div>







    <!-- hub home button end -->
    <a href="https://environmentaldashboard.org/nav/" class="button2">HUB HOME</a>

    <script src="../scripts/controllers.js"></script>

  </body>





</html>
