<html>

<head>
  <meta charset="UTF-8">

  <!-- change "content" as appropriate -->
  <meta name="description" content="Controller template webpage">
  <meta name="viewport" content="user-scalable=0">
  <!-- change title as appropriate -->
  <title>IGA Controller</title>
  <link rel="stylesheet" href="../styles/controller.css">
  <!-- <link rel="stylesheet" type="text/css" href="/nav/styles/style.css"> -->
  <script>
    // to redirect new controller
    window.location = 'https://oberlin.communityhub.cloud/digital-signage/remote/custom/iga';
  </script>
</head>
<body></body>

</html>