<html>
  <head>
    <meta charset= "UTF-8">

    <!-- change "content" as appropriate -->
    <meta name= "description" content="Controller template webpage">
    <meta name="viewport" content="user-scalable=0">
    <!-- change title as appropriate -->
    <title>Oberlin Public Library Controller</title>
    <link rel="stylesheet" href="../styles/controller.css">
    <!-- <link rel="stylesheet" type="text/css" href="/nav/styles/style.css"> -->

</head>


  <body>

    <div id="timeout-overlay"><h1>Your time using this remote is up. Try again starting at a later time.</h1></div>
    <div id="queue-overlay"><h1>You are waiting <span id="in-the-queue">in the queue</span>. You will gain access at <span id="a-later-time">a later time</span> at the latest.</h1></div>
    <div id="cookie-overlay"><h1>Cookies are required to use the remote controller.</h1></div>
    <div id="disconnected-overlay"><h1>Display is disconnected. Please restart the display in order to control it.</h1></div>
    <div id="init-overlay"><h1>Initializing connection...</h1></div>
    <div id="error-overlay"><h1>Lost connection to display... reconnecting in <span id="remaining">10</span>.</h1><p>If this problem persists, please contact <a href="mailto:mail@communityhub.cloud?subject=Controller 38 loaded at 1626203244 connection error with oberlin server">mail@communityhub.cloud</a>.</p></div>
    <!-- first row container -->


      <!-- first column item in first-row container -->
      <!-- <div class="flex-child">
        <center>IGA Screen Controller</center>
      </div> -->

      <!-- second column item in first-row container -->
      <div class="flex-container">
      <div class="flex-child">

          <img src="../resources/opl_controllerbanner.svg">

      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
        <div class="button" data-twig="btn1">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1582' data-active_src='' data-src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f72400e0a3b.svg' src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f72400e0a3b.svg' />
          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn2" >
            <img data-type='1' data-url='/digital-signage/remote/7' data-id='1579' data-active_src='' data-src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/climateaction_text_icon_v3-01.svg' src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/climateaction_text_icon_v3-01.svg'  />
          </div>
        </center>
      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn3">
            <img  data-type='1' data-url='' data-id='1580' data-active_src='' data-src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f722eb4a48c.svg' src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f722eb4a48c.svg' />
          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn4">
            <img  data-type='1' data-url='' data-id='1581' data-active_src='' data-src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f723e8e5751.svg' src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f723e8e5751.svg' />
          </div>
        </center>
      </div>

    </div>

    <div class="flex-container2">

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn5">
            <img  data-type='1' data-url='' data-id='1583' data-active_src='' data-src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f72427954a9.svg' src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/60f72427954a9.svg' />
          </div>
        </center>
      </div>

      <div class="flex-child2">
        <center>
          <div class="button" data-twig="btn6">
            <img  data-type='1' data-url='/digital-signage/remote/7' data-id='1578' data-active_src='' data-src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/Oberlin%20Public%20Library%20Information.svg' src='https://storage.googleapis.com/ch-storage/oberlin/digital-signage/Oberlin%20Public%20Library%20Information.svg'/>
          </div>
        </center>
      </div>

    </div>







    <!-- hub home button end -->
    <a href="https://environmentaldashboard.org/nav/" class="button2">HUB HOME</a>

    <script src="../scripts/controllers.js"></script>

  </body>





</html>
